[Unit]
Description=Electronero Full Node
After=network.target

[Service]
User=electronero
Group=electronero
WorkingDirectory=~

Type=forking
PIDFile=/var/run/electronerod.pid

ExecStart=/usr/bin/electronerod --config-file /etc/electronerod.conf \
    --detach --pidfile /var/run/electronerod.pid

[Install]
WantedBy=multi-user.target
